<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.performance.ua.performancelab" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BackgroundsActivity"/>
        <activity android:name=".CanvasApiActivity"/>
        <activity android:name=".HierarchyActivity"/>
        <activity android:name=".FibActivity"/>
        <activity android:name=".ContainerActivity"/>
        <activity android:name=".MemoryLeakActivity"/>
        <activity android:name=".MemoryChurnActivity"/>
        <activity android:name=".SchedulerActivity"/>
        <service
            android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" >
        </service>
    </application>

</manifest>
